.question-page {
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #333;
    }
  
    p {
      margin-bottom: 5px;
      color: #333;
    }
  
    .answers {
      margin-top: 20px;
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #333;
      }
  
      .answer {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
  
        p {
          margin-bottom: 5px;
          color: #333;
        }
  
        button {
          margin-right: 10px;
          padding: 5px 10px;
          font-size: 14px;
          background-color: #333;
          color: #fff;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #555;
          }
        }
      }
    }
  }
  